/* all app scss styles here */

@import url(http://fonts.googleapis.com/css?family=Niconne|Merriweather:400,300,700);

h2 {
	color: $wes-yellow;
	text-shadow: 1px 1px 4px darken($wes-blue, 60%);
}

h5 {
	color: lighten($header-font-color, 35%);
}

header {
	text-align: center;
	margin-bottom: rem-calc(50);
	h1 {
		padding-top: rem-calc(20);
		line-height: .8;
		color: $wes-green;
		@media #{$medium-up} {
			line-height: 1;
			white-space: nowrap
		}
	}
	.amper {
		font-size: $h1-font-size * 2;
		color: $wes-sand;
		padding: 0 18%;
		@media #{$medium-up} {
			padding: 0;
			font-size: $h1-font-size * 1.5;
		}
		@media #{$large-up} {
			padding: 0;
			font-size: $h1-font-size * 3;
		}		
	}
}

.when { 
	p { 
		font-size: 1.2rem;
	}
}

.where {
	margin-top: rem-calc(50);
	@media #{$medium-up} {
		text-align: right;
		margin-top: 0;
	}
}

.gifts {
	margin: rem-calc(50) 0;
	h3, h5 {
		text-align: center;
	}
	p {
		font-size: .8rem;
	}
	.address {
		margin-top: 20px;
		p {
			color: lighten($header-font-color, 25%);
			text-align: center;
		}
		.button {
			margin-top: 5px;
		}
	}
}

.love {
	margin: rem-calc(50) 0;
	h2 {
		text-align: center;
		@media #{$medium-up} {
			font-size: rem-calc(90);
		}
	}
	p {
		text-indent: 3rem;
		&:first-of-type {
			text-indent: 0;
			margin-top: rem-calc(30);
		}
	}
	.big {
		font-size: 2rem;
		line-height: 1rem;
		font-weight: 400;
	}
	.sig {
		text-indent: 0;
		text-align: right;
	}
}

.full-width {
	width: 100%;
	@media #{$medium-up} {
		max-height: 80vh;
		overflow: hidden;
	}
}

.countdown {
	font-size: rem-calc(17);
}

.Collage {
	padding: 10px;
	img {
		vertical-align: bottom;
		opacity: 0;
	}
}

.lodging {
	margin: rem-calc(50) 0 0 0;
	h4 {
		color: lighten($header-font-color, 25%);
	}
	p {
		font-size: .8rem;
	}
}


.footer {
	text-align: center;
}