{% extends "layouts/base.html" %}
{% block page %}
	<header>
    	<h1 class="ace">Ace</h1>
    	<h1 class="and">&</h1>
    	<h1 class="kevin">Kevin</h1>
    </header>
    <div class="when">
    	<h2>When?</h2>
    	<hr>
    	<p>March 28th, 2015</p>
    	<p>3 pm</p>
    </div>
    <div class="where">
    	<h2>Where?</h2>
    	<hr>
    	<p>Kingdom Hall of Jehovah's Witnesses</p>
    	<p>1285 Northwest Saltzman Road Portland, OR 97229</p>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2795.0466641469798!2d-122.80732359999998!3d45.52926649999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549508d7be4a8e0f%3A0xee164e15b9892b3d!2s1285+NW+Saltzman+Rd%2C+Portland%2C+OR+97229!5e0!3m2!1sen!2sus!4v1423274707270" width="100%" height="250" frameborder="0" style="border:0"></iframe>
    </div>    
{% endblock %}