@import "normalize";

@import "bower_components/susy/sass/susy";

@import url(http://fonts.googleapis.com/css?family=Niconne|Open+Sans:400,800);

/* Changing Susy default global settings */
$susy: (
/* Tells Susy to use 12 columns */
columns: 12,
/* Tells Susy that the container has a max-width of 1120px */
container: 1120px,
/* Tells Susy to use border-box */
global-box-sizing: border-box 
);

$sm: ( min: 360px );
$md: ( min: 700px );
$lg: ( min: 900px );
 
@mixin mq($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}

@include border-box-sizing;

html {
	font-size: 16px;
	@include mq($sm) {
		font-size: 12px;
	}
	@include mq($md) {
		font-size: 16px;
	}	
	@include mq($lg) {
		font-size: 23px;
	}		
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	background-color: #F5F4EB;
}

.susy-wrapper {
	@include container;
}

h1, h2, h3, h4 {
	font-weight: 200;
	margin: 1.5rem 0 0 0;
	font-family: 'Niconne', cursive;
}

h2 {
	font-size: 3rem;
}

p {
	margin: 0;
}

header {
	margin-bottom: 1rem;
}

hr {
	margin: 0 0 1rem 0;
}

.ace {
	@include span(12);
	text-align: center;
	// @include media(">=phone") {
	// 	@include span(3);
	// 	font-size: 5rem;
	// }
}

.and {
	@include span(12);
	font-size: 10rem;
	line-height: 4rem;
	text-align: center;
	color: #bbb;
	// @include media(">=phone") {
	// 	@include span(6);
	// 	font-size: 17rem;
	// 	line-height: 8rem;
	// }
}

.kevin {
	@include span(12);
	text-align: center;
	// @include media(">=phone") {
	// 	@include span(3 last);
	// 	font-size: 5rem;
	// 	text-align: center;
	// }
}

.when {
	// @include span(12);
	@media (min-width: 700px) {
		@include span(4);
	}
}

.where {
	// @include span(12);
	@media (min-width: 700px) {
		@include span(8 last);
		text-align: right;
		iframe {
			margin: 1rem 0;
		}
	}
}