doctype html
html(class="no-js", lang="en")
    include header
    body
        include home                                                                                                                         
        include footer