doctype html
html(class="no-js", lang="en")
   include header
   body
      .row
         .small-12.columns
            a(class='button medium', href='/') #[i.fa.fa-reply] Home
      .row
         .small-10.medium-12.large-8.small-centered.columns
            header
               h1 Portland is awesome!   
               p Amazing food, beer, wine and natural beauty. 
               p We know you are going to love this place!
      .row
         .small-12.small-centered.columns            
            | <iframe frameborder=0 style='width:100%;height:500px' src='//www.zeemaps.com/pub?group=1350408&legend=1&x=-122.865139&y=45.680406&z=8'> </iframe>                                                                                                 
      include footer